/* Write your CSS here */
.event-button {
  border: none;
}

.event-button-outline {
  border: solid #2dd4bf 4px;
}

.list {
  margin: 10px;
}

.name {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
}

.location {
  font-size: 10px;
  font-family: 'Roboto';
  color: #ffffff;
}
